<div class="flex-page">
    <div class="start image">
        <img class="img-responsive" src="/jeremy-yap-J39X2xX_8CQ-unsplash.png" alt="Photo of DVDs. Photo by @seanbenesh on Unsplash">
    </div>
    <div class="start-text">
        <h3>Ready to watch something good?
        Ready to watch something interesting?
        Ready to watch something funny?
        Ready to watch something heartbreaking?
        Are you ready to watch?</h3>
    </div>
</div>