<h1>About me</h1>

<div class="flex-page">

    <div class="flex-text">
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie vitae erat ac mollis. 
        In ac interdum lorem, vel ornare nisi.Proin molestie fermentum faucibus. Aliquam tincidunt, 
        sapien eget dictum volutpat, sem ligula pharetra ante, nec euismod libero sapien et nisi. 
        Aliquam ullamcorper, risus a mattis eleifend, eros arcu ornare odio, a mattis ante neque 
        vitae arcu. Donec pharetra ultrices arcu. Etiam posuere malesuada erat, id commodo libero 
        mattis id. In quam lacus, cursus nec mauris ut, facilisis mollis orci. Duis feugiat condimentum 
        orci, suscipit laoreet lectus viverra a. Vestibulum ante ipsum primis in faucibus orci luctus 
        et ultrices posuere cubilia curae;Nullam risus eros, faucibus quis ipsum molestie, ullamcorper 
        feugiat dui. Cras bibendum faucibus ex et dictum. Fusce suscipit efficitur urna id placerat. 
        In luctus vestibulum est, vitae gravida dui faucibus ullamcorper. Fusce ac est sit amet 
        nisi pellentesque tristique. Etiam mollis felis odio, nec imperdiet enim ultricies vel. 
        Nulla tristique sit amet nunc sit amet laoreet. Pellentesque nibh nisl, tempor id massa vitae, 
        molestie interdum enim. Quisque tincidunt risus dui,vel rhoncus nulla vehicula vel. Nam 
        ultricies sapien eget lorem ornare, quis semper orci venenatis.
        </p> 
    </div>

    <div class="image">
        <img class="img-responsive" src="/IMG_9296.png" alt="Photo of me, the creator">
    </div>

</div>

