<h1>About me</h1>

<div class="flex-page">

    <div class="flex-text">
       <p>
        Hey! <br> 
        I&#39;m Eliise and I love movies. And TV shows... Pretty much anything I can watch to judge after or 
        binge again or recommend to my friends or not recommend to my friends. You get the idea. <br>
        In this blog I will write about it all. Let my frustrations out about the movies I didn&#39;t like, 
        gush about my favorites. Ramble about how the TV show was perfect until they decided to ruin it
        with the final season. I have spent years perfecting my lists of &#34;What to watch when...&#34;, so
        it's time to show them off. I would also love to hear recommendations or requests of movies or 
        tv shows I should watch or review if you want to know if it is worth it!
        </p> 
    </div>

    <div class="image">
        <img class="img-responsive" src="/IMG_9296.png" alt="Photo of me, the creator">
    </div>

</div>
